/* 
    Document   : style.css
    Created on : 6/25/2018
    Author     : Bryan Elliott (melliatto@yahoo.com)
    Description: Spin Viewer main style sheet      
*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #eee;
}

#header, #main, #footer {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

#main {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

#wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    min-height: 100%;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;

}

#header {
    background-color: #fff;
    padding: 5px 15px;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.125);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#main-title {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 50px;
    min-height: 50px;
    margin: 0;
    margin-left: 8px;
    color: #0f75bc;
}

#spinner {
    width: 50px;
    height: 50px;
    background: url(spinner_icon1.png) no-repeat;
    -webkit-transform: rotateZ(0deg);
    -ms-transform: rotate(0deg);
    transform: rotateZ(0deg);
    -webkit-transition: all 5s cubic-bezier(0.13, 0.07, 0.25, 1);
    -o-transition: all 5s cubic-bezier(0.13, 0.07, 0.25, 1);
    transition: all 5s cubic-bezier(0.13, 0.07, 0.25, 1);
}

#spinner.spin {
    -webkit-transform: rotateZ(3600deg);
    -ms-transform: rotate(3600deg);
    transform: rotateZ(3600deg);
}

.top-text {
    font-size: 16px;
    line-height: 1.8em;
    text-align: center;
    margin: 0;
    padding: 1.8em 1em;
}

#textbox {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	width: 100%;
    height: 250px;
    padding: 8px;
    border-radius: 0.35rem;
    border: 1px solid rgba(0,0,0,0.125);
    resize: vertical;
    color: #555;
}

#textbox::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #999;
    font-size: 1.6em;
    padding-left: 10px;
}
#textbox::-moz-placeholder { /* Firefox 19+ */
    color: #999;
    font-size: 1.6em;
    padding-left: 10px;
}
#textbox:-ms-input-placeholder { /* IE 10+ */
    color: #999;
    font-size: 1.6em;
    padding-left: 10px;
}
#textbox:-moz-placeholder { /* Firefox 18- */
    color: #999;
    font-size: 1.6em;
    padding-left: 10px;
}

.text-right { text-align: right; }

#submit {
    margin-top: 15px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .2em .8em;
    font-size: 1.6em;
    line-height: 1.7;
    border-radius: .25em;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

#submit:hover, #submit:active {
    background-color: #0069d9;
    border-color: #0062cc;
}

#submit:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}

#output {
    visibility: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    max-width: 960px;
    margin: 20px auto 0 auto;
    line-height: 1.4em;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.1em;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 0.25em;
    padding: 5px 15px;
    margin-bottom: 25px;
}

.clear {
	clear: both;
}

.fixed {
    position: fixed;
    top: 0;
}

.static {
    position: static;
}

#footer {
    background: #fff;
}

/* --- TOGGLE BUTTON --- */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    -webkit-box-shadow: 0 0 1px #2196F3;
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}
/* --- end toggle button --- */

/* --- Radio buttons group --- */
.switch-field {
    font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
    overflow: hidden;
}

.switch-title {
    display: inline-block;
    margin-bottom: 4px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    float: left;
}

.switch-field label {
    display: inline-block;
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 4px 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color 0.1s ease-in-out;
    -o-transition:      background-color 0.1s ease-in-out;
    transition:         background-color 0.1s ease-in-out;
}

.switch-field label:hover {
        cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #2196F3;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}
/* --- End radio buttons group --- */


.options-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: bottom;
    -ms-flex-align: bottom;
    align-items: bottom;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #999;
}

.bracket-container {
    -ms-flex-item-align: end;
    align-self: flex-end;
    font-size: 14px;
    padding: 0 0 7px 7px;
    
}

.geo-container {
    text-align: right;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.geo-switch {
    padding: 22px 7px 7px 0;
    font-size: 14px;
}

.geo-text {
    display: inline-block;
    color: #999;
}

.slideup, .slidedown {
    max-height: 0;            
    overflow-y: hidden;
    -webkit-transition: max-height 0.3s ease-out;
    -o-transition: max-height 0.3s ease-out;
    transition: max-height 0.3s ease-out;
}
.slidedown {            
    max-height: 50px ;                    
}   

#slidedown-container div {
    text-align: right;
    color: #999;
    font-size: 13.3px;
    margin-bottom: 4px;
}

#slidedown-container input, #slidedown-container select {
    color: #999;
    border: 1px solid #ccc;
    max-width: 120px;
    border-radius: .25em;
}

#slidedown-container input {
    padding: 1px 4px;
}
